.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background: rgba(0,0,0,.6);
    justify-content: center;
    padding-top: 5rem;

}

.modal-body{
    padding: 2rem;
    width: 400px;
    height: 300px;
    background: white;
    font-size: 20px;
}

.modal-btn{
    margin-left: 19rem;
    padding: .35rem;
    border-radius: 30px;
    background-color: wheat;
    color: #2e303b;
    font-weight: bolder;
}