body {
  background-color: #2e303b;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  color: #717094;
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}

.remove{
  background-color: red;
  border-radius: 50%;
  color: white;
  border: none;

}


.done {
  text-decoration: line-through;
}

.InputAddTodo{
  background-color: #2e303b;
  color: wheat;
  font-weight: bold;
  border-radius: 50px;
  padding: .35rem;
  margin: .2rem;

}

.FormAddTodo{
  padding-bottom: 1rem;

}

.BtnAddTodo{
  margin-left: 0.5rem;
  padding: .35rem;
  border-radius: 30px;
  background-color: wheat;
  color: #2e303b;
  font-weight: bolder;
}
